@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f0f0f0;
}

/* swiper */
.swiper-slide-shadow {
  display: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* graph */
.Series > g > g > path {
  stroke: #fef479 !important;
}

.domain {
  stroke: #98989c !important;
}

.tick > text {
  fill: #98989c !important;
}

.tick > line {
  display: none !important;
}
